<div class="admin">
    <div class="credentialsContainer">
        <div class="leftCredentialsContainer">
            <div class="welcomeField">
                <span class="welcomeMessage" style="font-size:14px;">Welcome, </span>
                <span class="name">{{userData.name}}</span>
            </div>
        </div>
        <div class="rightCredentialsContainer">
            <div class="credentialsTabField ">
                <a href="javascript:void(0)" ng-click="logout()">Logout</a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="tabsContainer">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="pill" href="javascript:void(0)" data-target="#myProfile">My Profile</a></li>
                <li><a data-toggle="pill" href="javascript:void(0)" data-target="#manageStudents">Manage Students</a></li>
                <li><a data-toggle="pill" href="javascript:void(0)" data-target="#manageTeachers">Manage Teachers</a></li>
            </ul>

            <div class="tab-content" >
                <div id="myProfile" class="tab-pane fade in active">
                    <div class="personalInfo">
                        <div class="list-group">
                            <div  class="list-group-item">
                                <h4 class="list-group-item-heading">Personal Information</h4>
                            </div>
                            <div  class="list-group-item">
                                <div class="left">
                                    <div class="list-group-item-heading">{{userData.name}}</div>
                                    <p class="list-group-item-text">Name</p>
                                </div>
                                <div class="right">
                                    <div class="list-group-item-heading">{{userId}}</div>
                                    <p class="list-group-item-text">Admin ID</p>
                                </div>
                            </div>
                            <div  class="list-group-item">
                                <div class="left">
                                    <div class="list-group-item-heading">{{userData.dob}}</div>
                                    <p class="list-group-item-text">Date of Birth</p>
                                </div>
                                <div class="right">
                                    <div class="list-group-item-heading" >{{userData.dep_name}}</div>
                                    <p class="list-group-item-text">Department</p>
                                </div>
                            </div>
                            <div  class="list-group-item">
                                <div class="left">
                                    <div class="list-group-item-heading">{{userData.gender}}</div>
                                    <p class="list-group-item-text">Gender</p>
                                </div>
                                <div class="right">
                                    <div class="list-group-item-heading">{{userAccess}}</div>
                                    <p class="list-group-item-text">Access</p>
                                </div>

                            </div>
                            <div  class="list-group-item">
                                <div class="list-group-item-heading">{{userData.father_name}}</div>
                                <p class="list-group-item-text">Father's Name</p>
                            </div>
                            <div  class="list-group-item">
                                <div class="list-group-item-heading">{{userData.mother_name}}</div>
                                <p class="list-group-item-text">Mother's Name</p>
                            </div>
                        </div>
                    </div>
                    <div class="contactInfo">
                        <div class="list-group">
                            <div  class="list-group-item">
                                <h4 class="list-group-item-heading">Contact Details</h4>
                            </div>
                            <div  class="list-group-item">
                                <div class="left">
                                    <div class="list-group-item-heading">{{userData.phone_no}}</div>
                                    <p class="list-group-item-text">Phone Number</p>
                                </div>
                                <div class="right">
                                    <div class="list-group-item-heading">{{userData.email_id}}</div>
                                    <p class="list-group-item-text">Email address</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<form>
                              <div class="form-group">
                                  <label for="contactNumber">Contact Number</label>
                                  <input type="tel" class="form-control" id="contactNumber">
                              </div>
                              <div class="form-group">
                                  <label for="emailAddress">Email address</label>
                                  <input type="email" class="form-control" id="emailAddress">
                              </div>
                              <button type="submit" class="btn btn-default">Submit</button>
                          </form>-->
                </div>

                <div id="manageTeachers" class="tab-pane fade">
					<div class="panel panel-default">
						<div class="panel-heading">Add a teacher</div>
						<div class="panel-body">
				             <div class="addTeacherTable">
                                        <table class="table table-bordered  table-hover" style="    margin-bottom: 0px;">
                                            <thead >
                                                <tr>
                                                    <th style="width: 115px;">TID</th>
                                                    <th>Name</th>
                                                    <th>Date of Birth</th>
                                                    <th style="width: 100px;">Gender</th>
                                                    <th>Father's Name</th>
                                                    <th>Mother's Name</th>
                                                    <th style="width: 77px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <tr>
                                                    <td><input type="text" class="form-control" ng-model="tid"></td>
                                                    <td><input type="text" class="form-control" ng-model="tName"></td>
                                                    <td><input type="date" class="form-control" ng-model="tDob"></td>
                                                    <td>
                                                        <div class="radio">
                                                            <label><input type="radio" ng-model="tGender" value="Male">Male</label>
                                                        </div>
                                                        <div class="radio">
                                                            <label><input type="radio" ng-model="tGender" value="Female">Female</label>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" class="form-control" ng-model="tFatherName"></td>
                                                    <td><input type="text" class="form-control" ng-model="tMotherName"></td>
                                                    <td>
                                                        <div class="addButton">
                                                            <button type="button" class="btn add-row" ng-click="addTeacher()" >Add</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="alert alert-danger incomplete" ng-show="incomplete">
                                        Please fill out all fields first.
                                    </div>
						</div>
					</div>
					<div class="editInfo">
									<form class="form-inline">
                                        <div class="form-group">
                                            <label for="teacherFilter">Apply filter : </label>
                                            <input type="text" class="form-control" id="teacherFilter" ng-model="teacherFilter">
                                        </div>
                                    </form>
                                    <div class="studentPerformanceTable" style="margin-top:15px;">
                                        <table class="table table-bordered table-hover" style="    margin-bottom: 0px;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 115px;">TID</th>
                                                    <th>Name</th>
                                                    <th>Date of Birth</th>
                                                    <th style="width: 100px;">Gender</th>
                                                    <th>Father's Name</th>
                                                    <th>Mother's Name</th>
                                                    <th style="    width: 143px;"></th>
                                                    <th style="width: 143px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="teacher in teacherList | filter:teacherFilter">
                                                    <td>{{teacher.tid}}</td>
                                                    <td><div ng-show="teacherView[$index]">{{teacher.name}}</div><div ng-hide="teacherView[$index]"><input type="text" class="form-control" ng-model="teacher.name"></div></td>
                                                    <td><div ng-show="teacherView[$index]">{{teacher.dob}}</div><div ng-hide="teacherView[$index]"><input type="text" class="form-control" ng-model="teacher.dob"></div></td>
                                                    <td><div ng-show="teacherView[$index]">{{teacher.gender}}</div>
                                                        <div ng-hide="teacherView[$index]">
                                                            <div class="radio">
                                                                <label><input type="radio" ng-model="teacher.gender" value="Male">Male</label>
                                                            </div>
                                                            <div class="radio">
                                                                <label><input type="radio" ng-model="teacher.gender" value="Female">Female</label>
                                                            </div>
                                                         </div>
                                                    </td>
                                                    <td><div ng-show="teacherView[$index]">{{teacher.father_name}}</div><div ng-hide="teacherView[$index]"><input type="text" class="form-control" ng-model="teacher.father_name"></div></td>
                                                    <td><div ng-show="teacherView[$index]">{{teacher.mother_name}}</div><div ng-hide="teacherView[$index]"><input type="text" class="form-control" ng-model="teacher.mother_name"></div></td>
                                                    <td>
                                                        <div class="editButton" ng-show="teacherView[$index]">
                                                            <button type="button" class="btn edit-row" ng-click="editTeacher($index)" >Edit</button>
                                                        </div>
                                                        <div class="saveButton" ng-hide="teacherView[$index]">
                                                            <button type="button" class="btn edit-row" ng-click="saveTeacher(teacher, $index)" >Save</button>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="assignButton" >
                                                            <button type="button" class="btn assign" data-toggle="modal" data-target="#assignSubjects" ng-click="setTeacherId(teacher.tid)">Assign Subjects</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div ng-show="teacherList == '0'" class="alert alert-danger no-records">No records found</div>
                                    </div>
					</div>
                </div>


                <div id="manageStudents" class="tab-pane fade">
                    <div class="panel panel-default">
                        <div class="panel-heading">Add a student</div>
                        <div class="panel-body">
                            <div class="studentPerformanceTable">
                                <table class="table table-bordered  table-hover" style="    margin-bottom: 0px;">
                                    <thead >
                                    <tr>
                                        <th style="width: 115px;">SID</th>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                        <th style="width: 100px;">Gender</th>
                                        <th>Father's Name</th>
                                        <th>Mother's Name</th>
                                        <th style="width: 130px;">Batch</th>
                                        <th style="width: 77px;"></th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr>
                                        <td><input type="text" class="form-control" ng-model="sid"></td>
                                        <td><input type="text" class="form-control" ng-model="sName"></td>
                                        <td><input type="date" class="form-control" ng-model="sDob"></td>
                                        <td>
                                            <div class="radio">
                                                <label><input type="radio" ng-model="sGender" value="Male">Male</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" ng-model="sGender" value="Female">Female</label>
                                            </div>
                                        </td>
                                        <td><input type="text" class="form-control" ng-model="sFatherName"></td>
                                        <td><input type="text" class="form-control" ng-model="sMotherName"></td>
                                        <td>
                                            <div class="studentDropdown">
                                                <div class="form-group">
                                                    <select class="form-control" ng-options="batch for batch in batchList" ng-model="sBatch">
                                                        <option selected="true" disabled="disabled" label="Batch"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="addButton">
                                                <button type="button" class="btn add-row" ng-click="addStudent()" >Add</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="alert alert-danger incomplete" ng-show="incomplete">
                                Please fill out all fields first.
                            </div>
                        </div>
                    </div>
                    <div class="editInfo">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="studentFilter">Apply filter : </label>
                                <input type="text" class="form-control" id="studentFilter" ng-model="studentFilter">
                            </div>
                        </form>
                        <div class="studentPerformanceTable" style="margin-top:15px;">
                            <table class="table table-bordered table-hover" style="    margin-bottom: 0px;">
                                <thead>
                                <tr>
                                    <th style="width: 1px;">Select</th>
                                    <th style="width: 115px;">SID</th>
                                    <th>Name</th>
                                    <th>Date of Birth</th>
                                    <th style="width: 100px;">Gender</th>
                                    <th>Father's Name</th>
                                    <th>Mother's Name</th>
                                    <th style="width: 130px;">Batch</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="student in studentList | filter:studentFilter">
                                    <td>
                                        <div class="checkbox table-checkbox">
                                            <label><input type="checkbox" ng-model="selectedStudents[$index]" ></label>
                                        </div>
                                    </td>
                                    <td>{{student.sid}}</td>
                                    <td><div ng-show="studentView[$index]">{{student.name}}</div><div ng-hide="studentView[$index]"><input type="text" class="form-control" ng-model="student.name"></div></td>
                                    <td><div ng-show="studentView[$index]">{{student.dob}}</div><div ng-hide="studentView[$index]"><input type="text" class="form-control" ng-model="student.dob"></div></td>
                                    <td><div ng-show="studentView[$index]">{{student.gender}}</div>
                                        <div ng-hide="studentView[$index]">
                                            <div class="radio">
                                                <label><input type="radio" ng-model="student.gender" value="Male">Male</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" ng-model="student.gender" value="Female">Female</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td><div ng-show="studentView[$index]">{{student.father_name}}</div><div ng-hide="studentView[$index]"><input type="text" class="form-control" ng-model="student.father_name"></div></td>
                                    <td><div ng-show="studentView[$index]">{{student.mother_name}}</div><div ng-hide="studentView[$index]"><input type="text" class="form-control" ng-model="student.mother_name"></div></td>
                                    <td><div ng-show="studentView[$index]">{{student.batch}}</div><div ng-hide="studentView[$index]">
                                        <div class="studentDropdown">
                                            <div class="form-group">
                                                <select class="form-control" ng-options="batch for batch in batchList" ng-model="student.batch">
                                                    <option selected="true" disabled="disabled" label="Batch"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div></td>
                                    <td>
                                        <div class="editButton" ng-show="studentView[$index]">
                                            <button type="button" class="btn edit-row" ng-click="editStudent($index)" >Edit</button>
                                        </div>
                                        <div class="saveButton" ng-hide="studentView[$index]">
                                            <button type="button" class="btn edit-row" ng-click="saveStudent(student, $index)" >Save</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-show="studentList == '0'" class="alert alert-danger no-records">No records found</div>
                        </div>
                        <form style="float: left; margin-top:20px;">
                            <div class="form-group" >
                                <label for="selectedSubjects">Select subjects (hold shift to select more than one):</label>
                                <select multiple class="form-control" id="selectedSubjects" ng-options="subject.name for subject in subjectList" ng-model="assignmentSubjects" style="min-height: 66px;    max-height: 110px;">
                                </select>
                            </div>
                        </form>
                        <div class="editButton" style="float:right; margin-top:20px;">
                            <button type="button" class="btn edit-row" ng-click="assignSubjects()" >Assign Subjects</button>
                        </div>
                        <div class="alert alert-danger incomplete" ng-show="cannotAssign">
                            Please select both students and subjects to be assigned.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assignSubjects" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="    float: left;
    width: 100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assign Subjects</h4>
            </div>
            <div class="modal-body" style="    float: left;
    width: 100%;">
                <div class="modalDropdownList">
                    <div class="modalDropdown">
                        <div class="form-group">
                            <select class="form-control" ng-options="subject.name for subject in depSubjectList" ng-model="s" ng-change="selectedSubject_t(s,0)">
                                <option selected="true" disabled="disabled" label="Select Subject"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modalDropdown">
                        <div class="form-group">
                            <select class="form-control" ng-options="batch for batch in batchList" ng-model="b" ng-change="selectedBatch_t(b,0)">
                                <option selected="true" disabled="disabled" label="Select Batch"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="space-for-dropdowns"></div>
                <div class="modalButtonList" style="margin-top:5px;">
                    <div>
                        <button addassignsubjectsfield type="button" class="btn modalButton" >Add another</button>
                    </div>
                    <div>
                        <button type="button" class="btn modalButton" ng-click="assignSubjects_t()">Assign</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="float:left; width:100%;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
