<div class="moderator">
    <div class="credentialsContainer">
        <div class="leftCredentialsContainer">
            <div class="welcomeField">
                <span class="welcomeMessage" style="font-size:14px;">Welcome, </span>
                <span class="name">{{userData.name}}</span>
            </div>
        </div>
        <div class="rightCredentialsContainer">
            <div class="credentialsTabField ">
                <a href="javascript:void(0)" ng-click="logout()">Logout</a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="tabsContainer">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="pill" href="javascript:void(0)" data-target="#myProfile">My Profile</a></li>
                <li><a data-toggle="pill" href="javascript:void(0)" data-target="#moderationRequests">Moderation Requests</a></li>
            </ul>

            <div class="tab-content" >
                <div id="myProfile" class="tab-pane fade in active">
                    <div class="personalInfo">
                        <div class="list-group">
                            <div  class="list-group-item">
                                <h4 class="list-group-item-heading">Personal Information</h4>
                            </div>
                            <div  class="list-group-item">
                                <div class="left">
                                    <div class="list-group-item-heading">{{userData.name}}</div>
                                    <p class="list-group-item-text">Name</p>
                                </div>
                                <div class="right">
                                    <div class="list-group-item-heading">{{userId}}</div>
                                    <p class="list-group-item-text">Moderator ID</p>
                                </div>
                            </div>
                            <div  class="list-group-item">
                                <div class="left">
                                    <div class="list-group-item-heading">{{userData.dob | date:"longDate"}}</div>
                                    <p class="list-group-item-text">Date of Birth</p>
                                </div>
                                <div class="right">
                                    <div class="list-group-item-heading">{{userAccess}}</div>
                                    <p class="list-group-item-text">Access</p>
                                </div>
                            </div>
                            <div  class="list-group-item">
                                    <div class="list-group-item-heading">{{userData.gender}}</div>
                                    <p class="list-group-item-text">Gender</p>
                            </div>
                            <div  class="list-group-item">
                                <div class="list-group-item-heading">{{userData.father_name}}</div>
                                <p class="list-group-item-text">Father's Name</p>
                            </div>
                            <div  class="list-group-item">
                                <div class="list-group-item-heading">{{userData.mother_name}}</div>
                                <p class="list-group-item-text">Mother's Name</p>
                            </div>
                        </div>
                    </div>
                    <div class="contactInfo">
                        <div class="list-group">
                            <div  class="list-group-item">
                                <h4 class="list-group-item-heading">Contact Details</h4>
                            </div>
                            <div  class="list-group-item">
                                <div class="left">
                                    <div class="list-group-item-heading">{{userData.phone_no}}</div>
                                    <p class="list-group-item-text">Phone Number</p>
                                </div>
                                <div class="right">
                                    <div class="list-group-item-heading">{{userData.email_id}}</div>
                                    <p class="list-group-item-text">Email address</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<form>
                              <div class="form-group">
                                  <label for="contactNumber">Contact Number</label>
                                  <input type="tel" class="form-control" id="contactNumber">
                              </div>
                              <div class="form-group">
                                  <label for="emailAddress">Email address</label>
                                  <input type="email" class="form-control" id="emailAddress">
                              </div>
                              <button type="submit" class="btn btn-default">Submit</button>
                          </form>-->
                </div>

                <div id="moderationRequests" class="tab-pane fade">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" data-target="#pending">
                                        Pending</a>
                                </h4>
                            </div>
                            <div id="pending" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="list-group" ng-show="!noPendingRequests">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#checkGrades" ng-click="setAssignMarks(request.moderationInfo.subject_code)" class="list-group-item" ng-repeat="request in pendingRequests">{{request.moderationInfo.subject_code}} ({{request.subName}}) from {{request.moderationInfo.tid}} ({{request.teacherName}})</a>
                                    </div>
                                    <div  ng-show="noPendingRequests" class="alert alert-danger no-records">No pending requests</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" data-target="#approved">
                                        Approved</a>
                                </h4>
                            </div>
                            <div id="approved" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="javascript:void(0)" class="list-group-item" ng-repeat="request in approvedRequests">{{request.moderationInfo.subject_code}} ({{request.subName}}) from {{request.moderationInfo.tid}} ({{request.teacherName}})</a>
                                    </div>
                                    <div  ng-show="noApprovedRequests" class="alert alert-danger no-records">No requests to show</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="checkGrades" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="    float: left;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Student Marks List</h4>
            </div>
            <div class="modal-body" style="    float: left;
    width: 100%;">
                <div class="studentMarksTable">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>SID</th>
                            <th>Name</th>
                            <th ng-class="{gray:!subjectMarks.quiz1}">Q1<span ng-show="subjectMarks.quiz1">({{subjectMarks.quiz1}})</span></th>
                            <th ng-class="{gray:!subjectMarks.quiz2}">Q2<span ng-show="subjectMarks.quiz2">({{subjectMarks.quiz2}})</span></th>
                            <th ng-class="{gray:!subjectMarks.quiz3}">Q3<span ng-show="subjectMarks.quiz3">({{subjectMarks.quiz3}})</span></th>
                            <th ng-class="{gray:!subjectMarks.quiz4}">Q4<span ng-show="subjectMarks.quiz4">({{subjectMarks.quiz4}})</span></th>
                            <th ng-class="{gray:!subjectMarks.assignment1}">A1<span ng-show="subjectMarks.assignment1">({{subjectMarks.assignment1}})</span></th>
                            <th ng-class="{gray:!subjectMarks.assignment2}">A2<span ng-show="subjectMarks.assignment2">({{subjectMarks.assignment2}})</span></th>
                            <th ng-class="{gray:!subjectMarks.assignment3}">A3<span ng-show="subjectMarks.assignment3">({{subjectMarks.assignment3}})</span></th>
                            <th ng-class="{gray:!subjectMarks.assignment4}">A4<span ng-show="subjectMarks.assignment4">({{subjectMarks.assignment4}})</span></th>
                            <th ng-class="{gray:!subjectMarks.assignment5}">A5<span ng-show="subjectMarks.assignment5">({{subjectMarks.assignment5}})</span></th>
                            <th ng-class="{gray:!subjectMarks.lab1}">LE1<span ng-show="subjectMarks.lab1">({{subjectMarks.lab1}})</span></th>
                            <th ng-class="{gray:!subjectMarks.lab2}">LE2<span ng-show="subjectMarks.lab2">({{subjectMarks.lab2}})</span></th>
                            <th ng-class="{gray:!subjectMarks.project}">PE<span ng-show="subjectMarks.project">({{subjectMarks.project}})</span></th>
                            <th ng-class="{gray:!subjectMarks.mst}">MST<span ng-show="subjectMarks.mst">({{subjectMarks.mst}})</span></th>
                            <th ng-class="{gray:!subjectMarks.est}">EST<span ng-show="subjectMarks.est">({{subjectMarks.est}})</span></th>
                            <th>Grade</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="student in studentMarksList">
                            <td>{{student.studentMarks.sid}}</td>
                            <td>{{student.name}}</td>
                            <td ng-class="{gray:!subjectMarks.quiz1}"><span ng-show="subjectMarks.quiz1"><input type="text" class="form-control" ng-model="student.studentMarks.quiz1" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.quiz2}"><span ng-show="subjectMarks.quiz2"><input type="text" class="form-control" ng-model="student.studentMarks.quiz2" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.quiz3}"><span ng-show="subjectMarks.quiz3"><input type="text" class="form-control" ng-model="student.studentMarks.quiz3" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.quiz4}"><span ng-show="subjectMarks.quiz4"><input type="text" class="form-control" ng-model="student.studentMarks.quiz4" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.assignment1}"><span ng-show="subjectMarks.assignment1"><input type="text" class="form-control" ng-model="student.studentMarks.assignment1" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.assignment2}"><span ng-show="subjectMarks.assignment2"><input type="text" class="form-control" ng-model="student.studentMarks.assignment2" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.assignment3}"><span ng-show="subjectMarks.assignment3"><input type="text" class="form-control" ng-model="student.studentMarks.assignment3" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.assignment4}"><span ng-show="subjectMarks.assignment4"><input type="text" class="form-control" ng-model="student.studentMarks.assignment4" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.assignment5}"><span ng-show="subjectMarks.assignment5"><input type="text" class="form-control" ng-model="student.studentMarks.assignment5" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.lab1}"><span ng-show="subjectMarks.lab1"><input type="text" class="form-control" ng-model="student.studentMarks.lab1" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.lab2}"><span ng-show="subjectMarks.lab2"><input type="text" class="form-control" ng-model="student.studentMarks.lab2" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.project}"><span ng-show="subjectMarks.project"><input type="text" class="form-control" ng-model="student.studentMarks.project" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.mst}"><span ng-show="subjectMarks.mst"><input type="text" class="form-control" ng-model="student.studentMarks.mst" ng-disabled="true"></span></td>
                            <td ng-class="{gray:!subjectMarks.est}"><span ng-show="subjectMarks.est"><input type="text" class="form-control" ng-model="student.studentMarks.est" ng-disabled="true"></span></td>
                            <td><input type="text" class="form-control" ng-model="student.studentMarks.grade"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modalButtonList" style="margin-top:5px;">
                    <div>
                        <button type="button" class="btn modalButton" ng-click="approve(subjectMarks.subject_code)">Approve</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="float:left; width:100%;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
